{% extends 'layout.html' %}

{% block body %}
    <!-- Page Content -->

    <div class="container">

      <div class="row">

        <div class="col-lg-8">
          <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
        </div>


        <div class="col-lg-4">
          <div class="options">
            <form method="POST" action="/">

              <div class="form-group">
                <label for="HotelName" class="col-sm-2 control-label">Hotels</label>
                <div class="col-sm-10">
                <select name="HotelName" class="form-control" id="hotel">
                  {% for hotel in hotels %}
                  <option>{{hotel.name}}</option>
                  {% endfor %}
                </select>
                <button id="b1" class="btn add-more" type="button" onclick="pickHotel()">+</button>
              
                </div>
              </div>

             <div class="form-group">
                <label for="RestaurantsName" class="col-sm-2 control-label">Restaurants</label>
                <div class="col-sm-10">

                <select name="RestaurantName" class="form-control" id="restaurant">
                  {% for restaurant in restaurants %}
                  <option>{{restaurant.name}}</option>
                  {% endfor %}
                </select>
                <button id="b2" class="btn add-more" type="button" onclick="pickRestaurant()">+</button>
              
              
                </div>
              </div>

             <div class="form-group">
                <label for="ActivitiesName" class="col-sm-2 control-label">Activities</label>
                <div class="col-sm-10">

                <select name="ActivitiesName" class="form-control" id="activities">
                  {% for activity in activities %}
                  <option>{{activity.name}}</option>
                  {% endfor %}

                </select>
                <button id="b3" class="btn add-more" type="button" onclick="pickActivities()">+</button>
      
                </div>
              </div>

            </form>

          </div><!--options -->


          <div class="results">
          <ul>
            <li>
              <h1>My Hotel</h1>
                <ul id="hotelpicked"></ul>

            </li>
            <li><h1>My Restaurants</h1>
              <ul id="restaurantpicked"></ul>
            </li>

            <li><h1>My Activities</h1>
              <ul id="activitiespicked"></ul>
            </li>
          </ul>
          </div>
        </div>

      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}
